---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syndicate notes test</title>
</head>
<body>
	<a href="/feed.json">JSON feed</a>
</body>
</html>
